<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.acctrans.dao.account.AccountDao">
    <resultMap id="accountDO" type="com.github.acctrans.dao.account.AccountDO">
        <result column="account_id" property="accountId"/>
        <result column="account_type" property="accountType"/>
        <result column="balance" property="balance"/>
        <result column="freeze_amount" property="freezeAmount"/>
        <result column="sys_amount" property="sysAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <update id="updateSysAmount" parameterType="com.github.acctrans.dao.account.AccountDO">
        UPDATE t_account
        SET sys_amount=#{sysAmount},
            update_time=#{updateTime}
        WHERE account_id = #{accountId}
    </update>

    <update id="updateBalanceAndSysAmount" parameterType="com.github.acctrans.dao.account.AccountDO">
        UPDATE t_account
        SET sys_amount=#{sysAmount},
            balance=#{balance},
            update_time=#{updateTime}
        WHERE account_id = #{accountId}
    </update>

    <select id="queryAccountById" parameterType="long" resultMap="accountDO">
        SELECT *
        FROM t_account
        WHERE account_id = #{accountId} FOR
        UPDATE
    </select>
</mapper>