<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.acctrans.dao.freeze.FreezeDao">
    <resultMap id="freezeDO" type="com.github.acctrans.dao.freeze.FreezeDO">
        <result column="account_id" property="accountId"/>
        <result column="tid" property="tid"/>
        <result column="type" property="type"/>
        <result column="amount" property="amount"/>
        <result column="currency" property="currency"/>
    </resultMap>

    <insert id="insertFreezeAmount" parameterType="com.github.acctrans.dao.freeze.FreezeDO">
        INSERT INTO t_freeze(account_id, tid, type, amount, currency)
        VALUES (#{accountId}, #{tid}, #{type}, #{amount}, #{currency})
    </insert>

    <select id="queryFreezeAmount" parameterType="com.github.acctrans.dao.freeze.FreezeDO" resultMap="freezeDO">
        SELECT *
        FROM t_freeze
        WHERE account_id = #{accountId}
          AND tid = #{tid}
    </select>

    <delete id="deleteFreezeAmount" parameterType="com.github.acctrans.dao.freeze.FreezeDO">
        DELETE
        FROM t_freeze
        WHERE account_id = #{accountId}
          and tid = #{tid}
    </delete>
</mapper>